@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #252525;
  flex-direction: column;
  gap: 1rem;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 20rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cell {
  height: 100%;
  width: 100%;
  background-color: #6a6a6a;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "poppins", sans-serif;
  color: white;
  font-weight: 500;
}
.winning-cell {
  color: #333;
  background-color: white;
}

button {
  font-size: 1.4rem;
  outline: none;
  background-color: transparent;
  color: white;
  font-family: "poppins", sans-serif;
  padding: 5px 10px;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  color: #252525;
  background-color: white;
}

.winner {
  font-size: 2.2rem;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
